@model IEnumerable<MediaProduction>
@{
    ViewBag.Title = "Movies";
}

<div class="flex">

    <h4 class="flex-1 text-left">Media</h4>
    <div class="col-3 text-right">
        @{
            await Html.RenderPartialAsync("_SearchPartialView", viewData: ViewData);
        }
    </div>
    <br />
</div>


<div class="flex">
    <div class="flex-1">
        <span class="text-grey">CineVerse</span> <i class="fa-solid fa-caret-right"></i> <span class="text-grey">Movies</span>
    </div>
</div>

<div class="row" style="display:flex; background-color:white; flex-flow:wrap">
    @foreach (MediaProduction mp in Model)
    {
        <div class="card" style="width:18rem; margin-right:20px!important; margin-bottom:1em">
            <img src="@Url.Content(mp.ImagePath)" class="card-img-top img-fluid" style="height:400px" alt="Responsive image" />
            <div class="card-body">
                <h5 class="card-title justify-content-evenly">@mp.Title</h5>
            </div>
        </div>
    }
</div>