@model IEnumerable<Person>

<div class="flex">

    <h4 class="flex-1 text-left">@ViewBag.Title</h4>
    <div class="col-3 text-right">
        @{
            await Html.RenderPartialAsync("_SearchPartialView", viewData: ViewData);
        }
    </div>
    <br />
</div>

<div class="flex">
    <div class="flex-1">
        <span class="text-grey">CineVerse</span> <i class="fa-solid fa-caret-right"></i> <span class="text-grey">@ViewBag.Title</span>
    </div>
</div>

<br />

<ul class="list">
    @foreach (Person person in Model)
    {
        <li>
            <a asp-controller="stars" asp-action="details" asp-route-id="@person.Id">@person.Name</a>
        </li>
    }
</ul>
